@charset "UTF-8";



body{
	margin: 0;
	padding: 0;
	
}

td.header01{
	background-color:#222;
	font-size: 16px;
	color: #ffffff;
	font-family: arial;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}


td a:visited{

	color:#ffffff;
}


td a:hover{
	background-color:#000000;
	color : #ff0080;
	transition-duration: 0.4s;
}


